body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #bcbcbc;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}

h1 {
    text-align: center;
}

h2 {
    color: green;
}

label {
    margin-bottom: 8px;
    display: block;
}

input {
    padding: 8px;
    margin-bottom: 16px;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: large;
}

button:hover {
    background-color: #45a049;
}

.unavailable {
    color: #999;
    cursor: not-allowed;
}

#dia,
#horario {
    height: 33px;
    margin-bottom: 4%;
    text-align: center;
    font-weight: bold;
}

select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
}

textarea {
    width: 94%;
    padding: 8px;
    margin-bottom: 16px;
}


.feedback-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.redirect-text {
    margin-top: 16px;
    text-align: center;
    font-size: 14px;
}

.redirect-text a {
    color: #4caf50;
    text-decoration: none;
    font-weight: bold;
}

.redirect-text a:hover {
    text-decoration: underline;
}